/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
app/Http/Controllers/Barang/produkController.php
composer.lock
storage/logs/laravel.log
vendor/autoload.php
vendor/bin/carbon
vendor/bin/carbon.bat
vendor/bin/patch-type-declarations
vendor/bin/patch-type-declarations.bat
vendor/bin/psysh.bat
vendor/bin/psysh
vendor/bin/pint.bat
vendor/bin/pint
vendor/bin/phpunit.bat
vendor/bin/phpunit
vendor/bin/php-parse.bat
vendor/bin/php-parse
vendor/bin/sail.bat
vendor/bin/var-dump-server
vendor/bin/var-dump-server.bat
vendor/bin/yaml-lint
vendor/bin/yaml-lint.bat
vendor/composer/autoload_classmap.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
vendor/composer/ClassLoader.php
vendor/composer/installed.json
vendor/composer/installed.php
vendor/composer/InstalledVersions.php
vendor/composer/platform_check.php
vendor/filp/whoops/CHANGELOG.md
vendor/filp/whoops/src/Whoops/Resources/css/whoops.base.css
vendor/laravel/framework/CHANGELOG.md
vendor/laravel/framework/composer.json
vendor/laravel/framework/src/Illuminate/Bus/BatchRepository.php
vendor/laravel/framework/src/Illuminate/Bus/DatabaseBatchRepository.php
vendor/laravel/framework/src/Illuminate/Cache/DatabaseStore.php
vendor/laravel/framework/src/Illuminate/Collections/Arr.php
vendor/laravel/framework/src/Illuminate/Database/Concerns/ManagesTransactions.php
vendor/laravel/framework/src/Illuminate/Database/DatabaseTransactionsManager.php
vendor/laravel/framework/src/Illuminate/Database/DetectsLostConnections.php
vendor/laravel/framework/src/Illuminate/Database/Schema/Grammars/PostgresGrammar.php
vendor/laravel/framework/src/Illuminate/Database/Schema/Grammars/MySqlGrammar.php
vendor/laravel/framework/src/Illuminate/Database/Schema/Grammars/SqlServerGrammar.php
vendor/laravel/framework/src/Illuminate/Database/Schema/Grammars/SQLiteGrammar.php
vendor/laravel/framework/src/Illuminate/Foundation/Application.php
vendor/laravel/framework/src/Illuminate/Filesystem/FilesystemAdapter.php
vendor/laravel/framework/src/Illuminate/Foundation/Console/ServeCommand.php
vendor/laravel/framework/src/Illuminate/Foundation/Testing/Concerns/InteractsWithDeprecationHandling.php
vendor/laravel/framework/src/Illuminate/Http/Client/Factory.php
vendor/laravel/framework/src/Illuminate/Http/Client/PendingRequest.php
vendor/laravel/framework/src/Illuminate/Queue/Jobs/Job.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Http.php
vendor/laravel/framework/src/Illuminate/Support/Testing/Fakes/BusFake.php
vendor/laravel/framework/src/Illuminate/Translation/lang/en/validation.php
vendor/laravel/framework/src/Illuminate/Validation/Concerns/ReplacesAttributes.php
vendor/laravel/framework/src/Illuminate/Validation/Concerns/ValidatesAttributes.php
vendor/laravel/framework/src/Illuminate/Validation/Validator.php
vendor/laravel/framework/src/Illuminate/View/Compilers/Concerns/CompilesConditionals.php
vendor/laravel/framework/src/Illuminate/View/Compilers/BladeCompiler.php
vendor/laravel/pint/builds/pint
vendor/laravel/pint/composer.json
vendor/laravel/sail/composer.json
vendor/laravel/sail/runtimes/8.0/Dockerfile
vendor/laravel/sail/runtimes/8.1/Dockerfile
vendor/laravel/sail/runtimes/8.2/Dockerfile
vendor/laravel/sail/runtimes/8.3/Dockerfile
vendor/laravel/sail/stubs/devcontainer.stub
vendor/laravel/sanctum/config/sanctum.php
vendor/laravel/sanctum/src/Sanctum.php
vendor/laravel/serializable-closure/src/Support/ReflectionClosure.php
vendor/nunomaduro/collision/composer.json
vendor/phpunit/php-code-coverage/ChangeLog-10.1.md
vendor/phpunit/php-code-coverage/src/Report/Html/Renderer/Template/css/style.css
vendor/phpunit/php-code-coverage/src/StaticAnalysis/ExecutableLinesFindingVisitor.php
vendor/phpunit/php-code-coverage/src/Version.php
vendor/psy/psysh/composer.json
vendor/psy/psysh/src/Shell.php
vendor/psy/psysh/src/Sudo.php
vendor/spatie/flare-client-php/composer.json
vendor/spatie/ignition/composer.json
vendor/spatie/ignition/README.md
vendor/spatie/ignition/src/Solutions/OpenAi/OpenAiSolutionResponse.php
vendor/spatie/laravel-ignition/config/ignition.php
vendor/symfony/service-contracts/ServiceLocatorTrait.php
vendor/symfony/service-contracts/ServiceProviderInterface.php
vendor/symfony/service-contracts/Test/ServiceLocatorTestCase.php
vendor/symfony/translation-contracts/Test/TranslatorTest.php
vendor/symfony/yaml/Inline.php
vendor/symfony/yaml/Parser.php
