@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


/* Style the logo */
.logo img {
    margin-left: 24px;
    width: 136px;
    height: 61px;
}

/* Style the content container */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}

/* Style the user information container */
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Style the user name and role */
.user-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
}

/* Style the user name */
.user-name {
    color: #1B2950;
    font-size: 15px;
    font-family: poppins;
    font-weight: 600;
    word-wrap: break-word;
}

/* Style the user role */
.user-role {
    color: #67748E;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

/* Style the arrow icon */
.arrow-icon {
    padding-left: 25px;
    display: flex;
    align-items: center;
    width: 48px;
    height: 48px;
}

.isi {
    display: flex;
    margin-top: 24px;

}

.sidebar {
    width: 250px; /* Sesuaikan lebar sesuai kebutuhan Anda */
    padding: 12px;
    display: flex;
    flex-direction: column;
}

/* Style the sidebar buttons */
.sidebar-button {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 12px;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease; /* Efek transisi saat dihover */
}

/* Define background colors for each button */
.button-1 {
    background-color: #E9ECEF; /* Warna latar belakang untuk Tombol 1 */
}

.button-2 {
    background-color: #E9ECEF; /* Warna latar belakang untuk Tombol 2 */
}

.button-3 {
    background-color: #E9ECEF; /* Warna latar belakang untuk Tombol 3 */
}

.button-4 {
    background-color: #FE9F43; /* Warna latar belakang untuk Tombol 4 */
    color: white;
}

/* Hover effect on buttons */
.sidebar-button:hover {
    color: white;
    background-color:#FE9F43; /* Warna latar belakang tombol saat dihover */
}

.content {
    width: 80%;
    display: flex;
    margin-left: 12px;
    flex-direction: column;
}

.content h2 {
    color: #212B36;
    font-family: poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

.content p {
    color: #555;
    font-family: poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}


.button-table {
    display: flex;
    height: 40px;
}

.button-table img {
    margin-right: 12px;
}

.button-barang {
    display: flex;
    width: 250px; /* Sesuaikan lebar sesuai kebutuhan Anda */
    height: 40px;
    padding: 12px;
    background-color: #FE9F43; /* Warna latar belakang untuk Tombol 1 */
    color: white;
    margin-left: 200px;
    align-items: center;
    justify-content: center;
    border: none;
}

.tabel {
    margin-top: 24px;
}
