@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.logo img {
    margin-left: 24px;
    width: 136px;
    height: 61px;
}

/* Style the content container */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}

/* Style the user information container */
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Style the user name and role */
.user-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
}
