@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


/* Style the logo */
.logo img {
    margin-left: 24px;
    width: 136px;
    height: 61px;
}

/* Style the content container */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}

/* Style the user information container */
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Style the user name and role */
.user-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
}

/* Style the user name */
.user-name {
    color: #1B2950;
    font-size: 15px;
    font-family: poppins;
    font-weight: 600;
    word-wrap: break-word;
}

/* Style the user role */
.user-role {
    color: #67748E;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

/* Style the arrow icon */
.arrow-icon {
    padding-left: 25px;
    display: flex;
    align-items: center;
    width: 48px;
    height: 48px;
}

.isi {
    display: flex;
    margin-top: 24px;

}

.sidebar {
    width: 250px; /* Sesuaikan lebar sesuai kebutuhan Anda */
    padding: 12px;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}

/* Style the sidebar buttons */
.sidebar-button {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease; /* Efek transisi saat dihover */
}

/* Define background colors for each button */
.button-1 {
    background-color: #E9ECEF; /* Warna latar belakang untuk Tombol 1 */
}

.button-2 {
    background-color: #FE9F43; /* Warna latar belakang untuk Tombol 2 */
    color: white;
}

.button-3 {
    background-color: #E9ECEF; /* Warna latar belakang untuk Tombol 3 */
}

.button-4 {
    background-color: #E9ECEF; /* Warna latar belakang untuk Tombol 4 */
}

/* Hover effect on buttons */
.sidebar-button:hover {
    color: white;
    background-color:#FE9F43; /* Warna latar belakang tombol saat dihover */
}

.content {
    width: 80%;
    display: flex;
    margin-left: 12px;
    flex-direction: column;
}

.content h2 {
    color: #212B36;
    font-family: poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

.content p {
    color: #555;
    font-family: poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.button-table {
    display: flex;
    width: 100%;
    height: 40px;
}

.button-table img {
    margin-right: 12px;
}

.button-barang {
    display: flex;
    width: 250px; /* Sesuaikan lebar sesuai kebutuhan Anda */
    height: 40px;
    padding: 12px;
    background-color: #FE9F43; /* Warna latar belakang untuk Tombol 1 */
    color: white;
    margin-left: 200px;
    align-items: center;
    justify-content: center;
    border: none;
}

.tabel {
    /*width: 1600px;*/
    width: 100%;
    margin-top: 24px;
}

.container-transaksi1{
    width: 1519px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container-transaksi2{
    display: flex;
    width: 648px;
    height: 500px;
    position: absolute;
    align-items: center;
    flex-direction: column;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 20px;
}

.isi-deskripsi {
    display: flex;
    flex-direction: column;
}

.isi-kembali {
    width: 230px;
    margin-top: 24px;
    margin-left: 24px;
    padding: 8px;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    background-color: #FE9F43;
    color: white;
    transition: background-color 0.3s ease; /* Efek transisi saat dihover */
}

.isi-judul{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 24px;
}

/* Form Sections */
.form-section {
    display: flex;
    width: 552px;
    height: 86px;
    margin-bottom: 20px;
}

/* Form Fields */
.form-field {
    width: 552px;
    height: 86px;
    margin-right: 24px;
    margin-bottom: 24px;
    position: relative;
}

.form-field label {
    color: #212B36;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 500;
    word-wrap: break-word;
}

.form-field select {
    width: 264px;
    height: 48px;
    background: white;
    border-radius: 14px;
    border: 1px rgba(196, 196, 196, 0.50) solid;
    padding: 12px;
    font-size: 16px;
    margin-top: 12px;
}

.form-field input {
    width: 264px;
    height: 48px;
    background: white;
    border-radius: 14px;
    border: 1px rgba(196, 196, 196, 0.50) solid;
    padding: 12px;
    font-size: 16px;
    margin-top: 12px;
}

.form-field label {
    color: #212B36;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 500;
    word-wrap: break-word;
}

.form-field input {
    width: 264px;
    height: 48px;
    background: white;
    border-radius: 14px;
    border: 1px rgba(196, 196, 196, 0.50) solid;
    padding: 12px;
    font-size: 16px;
    margin-top: 12px;
}

/* Save Button */
.save-button {
    width: 552px;
    height: 48px;
    background: #FF9F43;
    border-radius: 16px;
    color: white;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 700;
    margin-top: 68px;
    border: none;
}

.search-btn {
    margin-left: 10px;
    border-radius: 0;
    color: #FF9F43;
    border-color: #FF9F43;
}

.search-btn:hover {
    border-color: #FF9F43;
    background-color: #FF9F43;
}

.text-center-nama{
    /* display: -webkit-box; */
    max-width: 160px;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
}

.pagination{
    padding-left: 24px;
}

.active>.page-link{
    background-color: #FF9F43;
    border-color: #FF9F43;
}

.page-link{
    color: #FF9F43;
}

a {
    text-decoration: none;
}
